/* quizStyle.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: auto;
    padding-bottom: 80px; /* Add this line. Adjust the value as needed */
}


#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #bfbfbf;
    padding: 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; /* Sets the height of the header */
    visibility: hidden;  /* Sets blank the for initial lod of page */
}

#name-display {
    margin-left: 100px; /* Adjust this value as needed */
}

#profile-img {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 63px;  /* Adjust this value to increase the width of the image */
    height: 81px;  /* Adjust this value to increase the height of the image */
    border-radius: 0%;  /* Adjust this value to make circular border of the image */
    border: 2px solid #808080;  /* Add this line to create a grey border */
}

#timer {
    margin-right: 20px;
    font-size: 1.2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#name-container {
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
    position: relative; /* Change from absolute to relative */
    top: 0; /* Adjust this value to reduce the gap between the timer and the name-container */
    margin-bottom: 20px;
    align-self: stretch;
    justify-self: stretch;
}

#guidelines-container {
    font-family: Arial, sans-serif;
    text-align: justify;
    font-size: 13px;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.5; /* Adjust this value as needed */
    position: relative; /* Change from absolute to relative */
}

/* This is the styling for the JAVA MOCK Heading on Main Page */
.test-name-style {
  margin-top: 10px;
  color: white;
  font-size: 25px;
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  background-color: #007BFF;
  height : 45px;
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
  justify-content: center; /* Add this line */
}

/* This is the styling for the Student Guidelines Header */
.quiz-heading-style {
  margin-top: 10px;
  margin-left: 20px;
  color: black;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* This is the styling for the Declaration on Main Page */
.declaration-container {
  display: relative;
  justify-content: center;
  align-items: left;
  margin-right: 20px;
}

/*Declaration Text style*/
.declaration-text {
  font-family: Arial, sans-serif;
  color: #b30528;
  font-weight: bold;
  font-size: 12px;
  text-align: justify; /* aligns the text to both left and right margins */
}

#quiz-container {
    display: none;
    background-color: #fff;
    margin-left: 250px;
    margin-top: 200px; /* Adjust this value to reduce the gap between the timer and the quiz container */
    padding: 20px;
    width: 90%; /* Increased from 80% to 90% */
    max-width: 800px; /* Increased from 600px to 800px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result {
    display: none;
    background-color: #fff;
    margin-left: 250px;
    margin-top: 200px;
    padding: 20px;
    width: 90%; /* Increased from 80% to 90% */
    max-width: 800px; /* Increased from 600px to 800px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-bottom: 100px;
}

#resultText {
    text-align: center;
}

#question-count {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    color: black;
    margin-right: 20px;
    font-weight: bold; /* Sets the boldness question-count */
}

/* This is the Start, Save & Next button styling */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
button:disabled {
    background-color: #ccc;
}
input[type="text"] {
    border: 1px solid #000;
    width: 200px; /* Adjust this value as needed */
}

/* This is the close button styling */
#close-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

/* This is the footer styling */
footer {
  background-color: #bfbfbf; /* Background color of the footer */
  text-align: center; /* Aligns the text to the center */
  padding: 10px; /* Padding around the footer */
  position: fixed; /* Fixes the position of the footer */
  left: 0; /* Positions the footer at the left of the page */
  bottom: 0; /* Positions the footer at the bottom of the page */
  width: 100%; /* Sets the width of the footer to 80% of the page width */
  height: 30px; /* Sets the height of the footer */
  font-size: 16px; /* Sets the font size */
  font-family: Arial, sans-serif; /* Sets the font family */
  margin-left: auto; /* Centers the footer horizontally */
  margin-right: auto; /* Centers the footer horizontally */
}

/* This is the styling for div inside the footer */
footer div {
  display: flex; /* Makes the div a flex container */
  justify-content: space-between; /* Distributes items evenly in the container */
  padding-right: 20px; /* Padding on the right side of the div */
  font-size: 13px; /* Sets the font size */
  font-family: Arial, sans-serif; /* Sets the font family */
}

/* This is the styling for the datetime id */
#datetime {
  font-family: Arial, sans-serif; /* Sets the font family */
  font-size: 13px; /* Sets the font size */
}

/* This is the used in body tag to prevent text selection on screen */
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/*Red Asterisk*/
.required {
  color: red;
}

/*Mobile Mode quiz opened warning*/
#mobile-mode-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
}

/* Show Code snippet in question */
pre {
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    font-size: 14px;
    background-color: #f0f0f0;
    padding: 10px;
    overflow-x: auto;
    counter-reset: line;
}

/* Show Code snippet lines */
pre span::before {
    content: counter(line);
    counter-increment: line;
    display: inline-block;
    width: 30px;
    text-align: right;
    padding-right: 10px;
    color: grey;
}

/* Scroll button */
#scrollToTopButton, #scrollToBottomButton {
    position: fixed;
    right: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10%; /* This will make the buttons round */
    width: 32px; /* This will increase the width of the buttons */
    height: 50px;
}

#scrollToTopButton {
    top: 50px; /* Adjust this value as needed */
    z-index: 9999; /* Adjust as needed */
}

#scrollToBottomButton {
    bottom: 60px; /* Adjust this value as needed */
    z-index: 9999; /* Adjust as needed */
}

/*End of file*/